<footer class="footer bg-black">
  <div class="container">
    <div class="row">
      <div class="col-lg d-flex align-items-center justify-content-center">
        <!-- Logo -->
        <img alt="Dreadful Cherry Tomatoes" height="65%" src="assets/logo/deadful%20cherry%20tomatoes.svg">
      </div>
    </div>
    <!-- Images -->
    <div class="row py-3">
      <div class="col-md d-flex justify-content-center">
        <div class="pe-3">
          <img alt="App Store" src="assets/button/app%20store.svg">
        </div>
        <div>
          <img alt="Google Play" src="assets/button/google%20play.svg">
        </div>
      </div>
    </div>
    <!-- Text -->
    <div class="row py-3">
      <div class="col-lg text-center d-flex align-items-center justify-content-center">
        <p class="text-white">© 2020 Dreadful Tomatoes. All rights reserved</p>
      </div>
    </div>
  </div>
</footer>
