<div class="navbar-dark bg-black">
  <img alt="" src="assets/logo/deadful%20cherry%20tomatoes.svg">
</div>

<div>
  <app-movie-list></app-movie-list>
</div>

<footer class="bg-black text-center text-white d-grid gap-4">
  <div class="col-sm-5 mx-auto">
    <img alt="" height="60%" src="assets/logo/deadful%20cherry%20tomatoes.svg">
  </div>

  <div class="col-sm-5 mx-auto">
    <img alt="" src="assets/button/app%20store.svg">
    <img alt="" src="assets/button/google%20play.svg">
  </div>

  <div class="col-sm-5 mx-auto">
    © 2020 Copyright Dreadful Tomatoes. All rights reserved
  </div>
</footer>
