.search-bar-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 10px;
}

.search-bar {
  flex: 1;
  padding-bottom: 10px;
  padding-top: 10px;
  border: none;
  border-radius: 0 5px 5px 0; /* Adjust the value to control the roundness of the corners */
  outline: none;
}

.search-logo {
  width: 24px; /* Adjust the width as per your logo size */
  height: 24px; /* Adjust the height as per your logo size */
  background-image: url('/assets/icon/search.svg'); /* Replace with the path to your logo image */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.search-bar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #ffffff; /* Adjust the background color as needed */
  border-radius: 5px 0 0 5px; /* Adjust the value to control the roundness of the corners */
}
