<div class="navbar-dark bg-danger">
  <div class="container">
    <div class="text-center search-bar-container">
      <div class="search-bar-icon">
        <span class="search-logo"></span>

      </div>
      <input (input)="applySearchFilter()" [(ngModel)]="searchTerm" class="search-bar" placeholder="Title" type="text"/>
    </div>
  </div>
</div>

<div class="container">
  <h3 class="text-white">Popular Movies</h3>

  <div class="row">
    <div *ngFor="let movie of filteredMovies" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <app-movie-cover [movie]="movie"/>
    </div>
  </div>
</div>
